<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg\n</pattern>
        </encoder>
    </appender>
    <logger name="com.nhnacademy.edu.springframework.project.aspect.ElapsedTimeAspect" level="Debug" />
    <root level="Info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>