@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
*{
    font-family: 'Stylish',sans-serif;
    font-size: 30px;
}
h1{
    text-align: center;
}
table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    border:1px #ccc solid;
}
table tr>td{
    text-align: center;
    padding:5px;
    border:1px #ccc solid;
    font-size: 20px;
}
table tr>th{
    text-align: center;
    padding:5px;
    border:1px #ccc solid;
    font-size: 40px;
}